.fronpage {
  background-color: #ccc;
  height: 100vh;
  padding: 100px;
}

.simplebar-content-wrapper {
  overflow: auto;
}

.btn {
  padding: 6px 0;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  text-decoration: none;
  border: none;

  &__city {
    background-color: transparent;
  }

  &__enter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 32px;
    border-radius: 5px;
    border: 2px solid #a5d1a1;
    text-transform: uppercase;
    font-size: 12px;

    &:hover {
      background-color: #a5d1a1;
      color: #000;
    }
  }
}

.modal-header__city {
  padding-left: 65px;
  background: url("../img/SVG/bg-city.svg") 0 50% no-repeat;
  background-size: 43px 27px;
  padding-right: 30px;
}

.modal-header__address {
  color: #7f7f7f;
  font-size: 14px;
  line-height: 18px;
  padding-right: 30px;
}

.modal-header__back {
  flex-basis: 90px;
  max-width: 90px;

  &__link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    text-decoration: none;

    svg {
      width: 14px;
      height: 13px;
      margin-right: 10px;
    }
  }
}

.modal-header__enter {
  margin-left: auto;
  padding-left: 30px;
}

.modal-header__info {
  flex-basis: 100px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .modal-header__ico-info {
    margin-right: 6px;
  }
}

.modal-header__ico-info {
  display: block;
  width: 24px;
  height: 24px;
  color: #000;

  &:hover {
    color: #000;
  }
}

.modal-header__timer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-header__countdown {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  color: #000;
}

.btn:focus,
.btn:hover,
.btn:active,
.btn-close:focus {
  box-shadow: none !important;
  outline: none !important;
}

.modal-filter {
  padding-top: 20px;
  padding-bottom: 30px;

  &__col-sel2 {
    flex-basis: 23%;
    flex-grow: 0;
  }

  &__col-sel1 {
    flex-basis: 13.5%;
    flex-grow: 0;
  }

  &__inp {
    width: 100%;
    height: 36px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 36px;

    &:hover,
    &:focus {
      outline: none;
      box-shadow: none;
    }

    &--date {
      background-image: url("../img/SVG/ico-date.svg");
      background-position: right 8px center;
      background-repeat: no-repeat;
      background-size: 18px auto;
      padding-right: 30px;
    }
  }
}

.btn__select {
  width: 100%;
  height: 36px;
  background-color: #f3f3f3;
  border: none;
  border-radius: 5px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  &__scrollbar {
    height: calc(100vh - 272px);
    padding-right: 15px;
    margin-right: -15px;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.flex-column {
  flex-direction: column;
}


.modal-body__item-film {
  display: flex;

  &__col-img {
    position: relative;
    flex-basis: 140px;
    max-width: 140px;

    img {
      display: block;
      width: 100%;
      height: 206px;
      object-fit: cover;
    }
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &__label {
    position: absolute;
    z-index: 10;
    display: inline-block;
    padding: 2px 10px;
    height: 24px;
    top: 0;
    left: 0;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px;

    &--new {
      color: #fff;
      background-color: #de3831;
    }
  }

  &__col-desc {
    flex-basis: 200px;
    flex-grow: 1;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 15px;
  }

  &__genre {
    padding-bottom: 15px;

    li {
      padding-right: 12px;
      font-size: 14px;
      line-height: 1;
      color: #7f7f7f;
    }
  }

  &__text {
    flex-grow: 1;
    font-size: 14px;
    line-height: 24px;
    color: #000;
  }

  &__footer {
    display: flex;
    align-items: center;
    padding-top: 20px;
  }

  &__level {
    text-align: center;
    border-radius: 5px;
    background-color: rgb(230, 232, 236);
    width: 45px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    font-weight: 500;
    color: #000;
    margin-right: 20px;
  }

  &__adv {
    li {
      width: 45px;
      height: 24px;
      line-height: 24px;
      font-size: 12px;
      border: 1px solid #e6e8ec;
      text-align: center;
      border-radius: 5px;
      color: #000;
      margin-right: 10px;
    }
  }
}

.modal-body__info-film {
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e8ec;
  margin-bottom: 5px;

  &__img {
    flex-basis: 70px;
    max-width: 70px;

    img {
      display: block;
      width: 100%;
      height: 105px;
      object-fit: cover;
    }
  }

  &--selected {
    padding-top: 9px;
    padding-bottom: 10px;
    align-items: center;
    margin-bottom: 0 !important;

    .modal-body__item-film__title {
      padding-bottom: 6px !important;
    }

    .modal-body__item-film__address {
      padding-bottom: 5px;
      color: #7f7f7f;
      font-size: 14px;
      line-height: 20px;
    }

    .modal-body__item-film__data-time {
      color: #000;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
    }
  }
}

.modal-body__film-session {
  display: flex;
  padding-bottom: 20px;

  &__caption {
    flex-basis: 260px;
    max-width: 260px;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #000;
    padding-top: 20px;
  }

  &__list {
    flex-basis: 300px;
    flex-grow: 1;

    li {
      padding: 20px 20px 0 0;
    }
  }

}

.modal-body__film-session__item {
  display: block;
  width: 70px;
  text-align: center;
  height: 30px;
  background-color: #f1f6c0;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  color: #000;
  transition: all 0.3s ease-in;

  &:hover {
    color: #fff;
    background-color: #3f9c35;
  }
}

.modal-body__info-film__hall-plan {
  height: 360px;
  padding: 30px 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__nav {
    position: absolute;
    z-index: 10;
    top: 18px;
    right: 0;

    button {
      display: block;
      border-radius: 5px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 0px 7px 0px rgba(129, 129, 129, 0.5);
      position: relative;
      z-index: 10;
      width: 36px;
      height: 36px;
      margin-bottom: 18px;
      cursor: pointer;
      border: none;
      transition: all 0.3s ease-in;

      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 2px;
        margin: -1px 0 0 -6px;
        background-color: #000;
      }

      &.zoom-plus::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 12px;
        margin: -6px 0 0 -1px;
        background-color: #000;
      }

      &:hover {
        background-color: #e4e4e4;
      }
    }
  }
}

.modal-footer__info-price {
  display: flex;
  flex-grow: 1;

  &__col {
    flex-basis: 185px;
    max-width: 185px;
    padding-right: 10px;
  }
}

.modal-footer__info-price__row {
  padding: 5px 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  color: #000;

  .item-place {
    margin-right: 10px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 2px;

    &--standard {
      background-color: #009bbd;
    }

    &--vip {
      background-color: #007c93;
    }

    &--occupy {
      background-color: #e0e1dd;
    }

    &--social {
      background-color: #ff6d22;
    }

    &__cost {
      margin-left: auto;
    }
  }
}

.modal-footer__btn-bay {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  cursor: pointer;
  color: #fff;
  width: 140px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  background: #de3831;

  &:disabled {
    background: #7f7f7f;
    cursor: none;
  }
}

.modal-content {
  overflow: hidden;
}

.modal-toggle-info {
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;

  .collapse.show::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 800;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;

    .btn-close {
      opacity: 1;
      padding: 5px;
      width: 22px;
      height: 22px;
      margin-right: -5px;
    }
  }

  &__title {
    font-weight: bold;
    color: #000;
    font-size: 18px;
    line-height: 24px;
  }
}

.modal-toggle-info__wrap {
  position: relative;
  z-index: 1050;
  background-color: #fff;
  min-height: 66vh;
  padding: 25px 30px;
  box-shadow: 0px -5px 10px 0px rgba(129, 129, 129, 0.2);
}

.modal-toggle-info__caption {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000;
  padding-bottom: 15px;
}

.modal-toggle-info__order {
  max-width: 440px;
}

.modal-footer__info-price__itog {
  border-top: 2px solid #f3f4f6;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-weight: 500;
  margin-top: 10px;
}

.modal-alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  min-height: 85px;
  border-bottom: 1px solid #e6e8ec;

  &__info-text {
    padding-left: 50px;
    flex-grow: 1;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    min-height: 40px;
    background-position: 0 50%;
    background-repeat: no-repeat;

    b {
      font-size: 16px;
      font-weight: bold;
    }

    &--ico-glasses {
      background-image: url("../img/SVG/ico-glasses.svg");
      background-size: 32px auto;
    }
  }
}

.rules-link {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;

  svg {
    margin-right: 15px;
  }

  span {
    white-space: nowrap;
    font-size: 14px;
    line-height: 18px;
    border-bottom: 1px dotted #000;
    margin-bottom: 3px;
  }

  &:hover {
    color: #000;

    span {
      border-bottom-color: transparent;
    }
  }
}