@media only screen and (min-width: 769px) {
  .modal-footer__info-price {
    display: flex;
    flex-basis: 60%;

    .swiper-wrapper {
      flex-wrap: wrap;
      height: 48px;
      display: flex;
      flex-direction: column;
      .modal-footer__info-price__row {
        padding: 0;
      }
    }

    &__item {
      flex-basis: 50%;
      max-width: 185px;
      padding-right: 10px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .modal-footer__info-price__item {
    width: 180px !important;
  }
  .modal-footer__info-price {
    margin-bottom: 16px !important;
    padding-top: 16px !important;
    border-top: 1px solid #e6e8ec;
  }
  .modal-footer {
    border-top: none;
  }
  .modal-dialog.modal-dialog-scrollable {
    height: auto;
    margin: 0;
    .modal-content {
      border-radius: 0;
      padding-right: 10px;
      padding-left: 10px;
      .modal-body__scrollbar {
        height: auto !important;
      }
      .row {
        margin-left: -5px;
        margin-right: -5px;
        > * {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      .modal-header {
        padding-top: 10px;
        padding-right: 40px;
        padding-bottom: 10px;
        min-height: 46px;
        .btn-close {
          height: 46px;
        }
        .btn__enter {
          height: 26px;
        }
      }
    }
  }
  .btn {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12px;
  }
  .modal-filter {
    padding-top: 10px;
    padding-bottom: 20px;
    .modal-filter__col-format {
      flex-basis: 40%;
      max-width: 40%;
      order: -1;
    }
    .modal-filter__col-date {
      flex-basis: 60%;
      max-width: 60%;
    }
  }
  .modal-filter__inp {
    font-size: 12px;
  }

  .modal-header__address,
  .mob-hidden {
    display: none !important;
  }
  .modal-body__item-film__col-desc {
    padding-left: 20px;
  }
  .modal-body__info-film.modal-body__item-film {
    margin-bottom: 10px !important;
  }
  .modal-body__film-session__caption {
    flex-basis: 70px;
    max-width: 70px;
    padding-top: 5px;
    text-align: left;
    font-size: 18px;
    line-height: 1;
  }
  .modal-body__film-session__list {
    margin-right: -5px;
    margin-left: -5px;
    li {
      padding: 5px;
    }
  }
  .modal-body__film-session__item {
    height: auto;
    padding: 5px 0;
    line-height: 1;
    font-size: 12px;
  }
  .modal-body__film-session__item::after {
    content: attr(data-bs-content);
    display: block;
    font-size: 10px;
    line-height: 1;
    font-weight: 400;
  }
  .modal-body__film-session {
    padding-bottom: 10px;
  }
  .modal-footer__info-price {
    flex-basis: 100%;
    padding-bottom: 16px;
  }
  .modal-footer {
    padding-bottom: 0;
    display: block !important;

    &__order-wrap {
      margin: 0 -10px;
      background-color: #fff;
      padding: 10px;
      box-shadow: 0px -10px 20px 0px rgba(224, 225, 221, 0.5);
    }
    .modal-footer__info-order {
      justify-content: flex-start;
    }
  }

  .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    /* Fix of Webkit flickering */
    z-index: 1;
  }
  .swiper-container-vertical > .swiper-wrapper {
    flex-direction: column;
  }
  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }
  .swiper-container-android .swiper-slide,
  .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
  }
  .swiper-container-multirow > .swiper-wrapper {
    flex-wrap: wrap;
  }
  .swiper-container-multirow-column > .swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .swiper-container-free-mode > .swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto;
  }
  .swiper-container-pointer-events {
    touch-action: pan-y;
  }
  .swiper-container-pointer-events.swiper-container-vertical {
    touch-action: pan-x;
  }
  .swiper-slide {
    flex-shrink: 0;
    position: relative;
    transition-property: transform;
  }
  .swiper-slide-invisible-blank {
    visibility: hidden;
  }
  /* Auto Height */
  .swiper-container-autoheight,
  .swiper-container-autoheight .swiper-slide {
    height: auto;
  }
  .swiper-container-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height;
  }
  /* 3D Effects */
  .swiper-container-3d {
    perspective: 1200px;
  }
  .swiper-container-3d .swiper-wrapper,
  .swiper-container-3d .swiper-slide,
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right,
  .swiper-container-3d .swiper-slide-shadow-top,
  .swiper-container-3d .swiper-slide-shadow-bottom,
  .swiper-container-3d .swiper-cube-shadow {
    transform-style: preserve-3d;
  }
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right,
  .swiper-container-3d .swiper-slide-shadow-top,
  .swiper-container-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
  }
  .swiper-container-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  .swiper-container-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  .swiper-container-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  .swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  /* CSS Mode */
  .swiper-container-css-mode > .swiper-wrapper {
    overflow: auto;
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
  }
  .swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
    display: none;
  }
  .swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: start start;
  }
  .swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
    scroll-snap-type: x mandatory;
  }
  .swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
    scroll-snap-type: y mandatory;
  }
  :root {
    --swiper-navigation-size: 44px;
    /*
    --swiper-navigation-color: var(--swiper-theme-color);
    */
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
  }
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto;
  }
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-next:after {
    content: 'prev';
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    content: 'next';
  }
  .swiper-button-prev.swiper-button-white,
  .swiper-button-next.swiper-button-white {
    --swiper-navigation-color: #ffffff;
  }
  .swiper-button-prev.swiper-button-black,
  .swiper-button-next.swiper-button-black {
    --swiper-navigation-color: #000000;
  }
  .swiper-button-lock {
    display: none;
  }
  :root {
    /*
    --swiper-pagination-color: var(--swiper-theme-color);
    */
  }
  .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
  }
  .swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
  }
  /* Common Styles */
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
    left: 0;
    width: 100%;
  }
  /* Bullets */
  .swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0;
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transform: scale(0.33);
    position: relative;
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
    transform: scale(1);
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    transform: scale(1);
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    transform: scale(0.66);
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    transform: scale(0.33);
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    transform: scale(0.66);
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    transform: scale(0.33);
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: 0.2;
  }
  button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
  }
  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
  }
  .swiper-container-vertical > .swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    transform: translate3d(0px, -50%, 0);
  }
  .swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 6px 0;
    display: block;
  }
  .swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
  }
  .swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    display: inline-block;
    transition: 200ms transform, 200ms top;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: 200ms transform, 200ms left;
  }
  .swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: 200ms transform, 200ms right;
  }
  /* Progress */
  .swiper-pagination-progressbar {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
  }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top;
  }
  .swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    transform-origin: right top;
  }
  .swiper-container-horizontal > .swiper-pagination-progressbar,
  .swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0;
  }
  .swiper-container-vertical > .swiper-pagination-progressbar,
  .swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
  }
  .swiper-pagination-white {
    --swiper-pagination-color: #ffffff;
  }
  .swiper-pagination-black {
    --swiper-pagination-color: #000000;
  }

  .modal-body__col-product {
    flex-basis: 100%;
    min-width: 100%;
  }
  .modal-header__info {
    flex-basis: 30px;
    min-width: 30px;
  }
  .modal-tab-top {
    flex-wrap: nowrap !important;
    border-bottom: none;
    overflow: visible;
  }
  .tabs-shop {
    border-bottom: 1px solid #e6e8ec;
  }
  .modal-body__order-finish__order-info {
    padding-left: 0;
  }
  .modal-footer__itog-price {
    margin-left: 0;
    flex-grow: 1;
    margin-right: auto;
  }
}
@media only screen and (max-width: 600px) {
  .modal-body__item-film__text {
    display: none !important;
  }
  .modal-body__item-film__footer {
    margin-top: auto;
  }
  .modal-body__item-film__col-img {
    flex-basis: 70px;
    max-width: 70px;
    img {
      height: 106px;
    }
  }
  .modal-body__item-film__label {
    font-size: 8px;
    line-height: 16px;
    height: 20px;
  }
  .modal-body__item-film__title {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 5px;
  }
  .modal-body__item-film__genre li {
    font-size: 12px;
  }
  .modal-body__item-film__level {
    margin-right: 10px;
    font-size: 10px;
  }
  .modal-body__item-film__adv li {
    font-size: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  .modal-header__enter {
    padding-left: 0;
  }
  .modal-header__city {
    padding-left: 40px;
    padding-right: 10px;
  }
  .modal-body__item-film:not(:last-child) {
    margin-bottom: 20px;
  }
  .dropdown-item {
    font-size: 12px;
    padding: 5px 10px;
  }
  .modal-body__info-film--selected {
    align-items: flex-start;
  }
  .modal-body__info-film--selected .modal-body__item-film__data-time {
    font-size: 12px;
    line-height: 14px;
  }
  .modal-alert {
    display: block;
  }
  .rules-link {
    margin: 5px 0 0 50px;
  }
  .modal-footer__info-order__item {
    padding-right: 15px;
    display: block;
    &__ico {
      padding: 0;
      display: flex;
      align-items: center;
      height: 25px;
      svg {
        max-width: 20px;
        height: auto;
        width: auto;
        max-height: 20px;
      }
    }
    &__caption {
      border-bottom-style: dotted;
    }
  }
  .modal-footer__btn-bay {
    height: 64px;
  }
  .modal-body__item-product {
    padding: 10px;
  }
  .modal-body__item-product__desc {
    padding-left: 10px;
  }
  .modal-body__item-product__title,
  .modal-body__item-product__cost {
    font-size: 14px;
  }
  .modal-body__item-product__text {
    font-size: 12px;
    line-height: 16px;
  }
  .modal-body__info-film__hall-plan {
    position: relative;
    overflow: hidden;
  }
  .modal-body__info-film__hall-plan__nav {
    right: 3px;
  }
  .modal-body__order-finish {
    flex-wrap: wrap;
    .modal-body__order-finish__form {
      max-width: 100%;
      flex-basis: 100%;
      padding-right: 0;
      order: 2;
    }
    .modal-body__order-finish__order-info {
      max-width: 100%;
      flex-basis: 100%;
      order: 1;
    }
  }
}
@media only screen and (max-width: 440px) {
  .modal-body__film-session__list li {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
  .modal-body__film-session__item {
    width: 100%;
  }
  .modal-footer__btn-bay {
    width: 100px;
  }
  .modal-footer__info-order__item__caption {
    font-size: 10px;
  }
  .modal-footer__info-order__item__price {
    font-size: 12px;
  }
  .modal-tab-top .nav-link {
    font-size: 14px;
    svg {
      margin-right: 10px;
    }
  }
}